RewriteBase /home/u240317083/public_html/
Options +FollowSymlinks
RewriteEngine On

#Regles
RewriteRule ^$ controller/c_index.php [L]
RewriteRule ^accueil$ controller/c_index.php [L]
RewriteRule ^eleve$ controller/c_eleve.php [L]
RewriteRule ^prof$ controller/c_prof.php [L]
RewriteRule ^viescolaire$ controller/c_viescolaire.php [L]
RewriteRule ^admin$ controller/c_admin.php [L]
RewriteRule ^contact$ controller/c_contact.php [L]
