RewriteBase /home/u240317083/public_html/
Options +FollowSymlinks
RewriteEngine On

#Regles
RewriteRule ^$ accueil
RewriteRule ^accueil$ controller/c_index.php
RewriteRule ^eleve$ controller/c_eleve.php
RewriteRule ^prof$ controller/c_prof.php
RewriteRule ^viescolaire$ controller/c_viescolaire.php
RewriteRule ^admin$ controller/c_admin.php
RewriteRule ^contact$ controller/c_contact.php
