RewriteBase /home/u240317083/public_html/
Options +FollowSymlinks
RewriteEngine On

#Regles
RewriteRule ^$ accueil
RewriteRule ^accueil$ controller/c_index.php
RewriteRule ^eleve$ controller/c_eleve.php
RewriteRule ^prof$ controller/c_prof.php
RewriteRule ^viescolaire$ controller/c_viescolaire.php
RewriteRule ^admin$ controller/c_admin.php
RewriteRule ^contact$ controller/c_contact.php

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 5 seconds"
    ExpiresByType image/jpg "access plus 2 month"
    ExpiresByType image/jpeg "access plus 2 month"
    ExpiresByType image/png "access plus 2 month"
    ExpiresByType image/gif "access plus 2 month"
    ExpiresByType image/ico "access plus 2 month"
    ExpiresByType image/icon "access plus 2 month"
    ExpiresByType image/x-icon "access plus 2 month"
    ExpiresByType text/css "access plus 2 month"
    ExpiresByType text/javascript "access plus 2 month"
    ExpiresByType text/html "access plus 5 seconds"
    ExpiresByType application/xhtml+xml "access plus 5 seconds"
    ExpiresByType application/javascript "access plus 2 month"
    ExpiresByType application/x-javascript "access plus 2 month"
    ExpiresByType application/x-shockwave-flash "access plus 2 month"
    ExpiresByType application/x-font-woff "access plus 2 month"
    ExpiresByType application/x-font-ttf "access plus 2 month"
    ExpiresByType application/x-font-otf "access plus 2 month"
</IfModule>
